:root{

    --main-pink:#bb9af7;

    /* header variables */

    --header-vertical-padding:16px;
    --header-color:rgb(155, 228, 127);
    --header-logo-size:20px;
    --header-background-color:#24283b;
    --ZIP-search-gap:16px;
    --ZIP-input-padding:6px;
    --ZIP-input-border-radius:12px;
    --ZIP-input-width:120px;
    --ZIP-search-section-width:320px;
    --ZIP-submit-size:15px;

    /* main section variables */

    --main-background-color:rgb(8,21,45);
    --weather-card-radius:8px;
    --weather-card-padding:32px;
    --temperature-background-color:#73daca;
    --temperature-font-size:7rem;
    --temperature-radius:12px;
    --reigon-size:28px;
    --reigon-margin-top:8px;
    --skyStatus-margin-top:20px;
    --skyStatus-size:36px;
    --advanced-margin-top:24px;

    /* footer section variables */

    --git-section-gap:12px;
    --footer-padding:16px;
    --link-font-size:28px;
    --link-hover-spacing:5px;
    --distance-from-link:180px;
    --width-on-hover:16vw;
}