@import url('../rootVariables.css');

.header-logo{
    color: var(--header-color);
    text-transform:uppercase;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--header-vertical-padding) 0;
    font-weight: bold;
    font-size: var(--header-logo-size);
    background-color: var(--header-background-color);
}
.ZIP-search-container{
    display: flex;
    gap:var(--ZIP-search-gap);
    width: var(--ZIP-search-section-width);
}
.ZIP-search-container .ZIP-label{
    align-self: center;
    color: white;
}
.ZIP-search-container .ZIP-input{
    background-color: var(--header-background-color);
    color:white;
    border:3px solid var(--main-pink);
    padding:var(--ZIP-input-padding);
    border-radius: var(--ZIP-input-border-radius);
    max-width: var(--ZIP-input-width);
    outline: none;
}
.ZIP-submit{
    flex:1;
    color: var(--header-background-color);
    background-color: var(--main-pink);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--ZIP-submit-size);
    border-radius: var(--ZIP-input-border-radius);
}
.zip-error{
    transition: 200ms ease-in;
    opacity: 0;
    position: absolute;
    border: 2px solid var(--header-color);
    left: 70%;
    top:10%;
    border-radius: 8px;
    background-color: var(--header-background-color);
    font-size: 16px;
    color: var(--header-color);
    padding:var(--zip-error-padding);
}